services:
  redis:
    container_name: redis
    image: 'redis:{{ redis_image_version}}'
    command: redis-server --appendonly yes
    restart: always
    networks:
      - counter_app_network
    volumes:
      - redis_counter_app_data:/data
    healthcheck:
      test: ["CMD", "redis-cli","ping"]
  web:
    container_name: counter-app
    image: 'registry.gitlab.com/macaktom/counter_app:{{app_version}}'
    restart: always
    ports:
      - '{{ host_app_port }}:80'
    environment:
      - POSTGRES_USER={{ postgres_user }}
      - POSTGRES_PASSWORD={{ postgres_password }}
    networks:
      - counter_app_network
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
  postgres:
    container_name: postgres
    image: 'postgres:{{ postgres_image_version }}'
    restart: always
    environment:
      - POSTGRES_USER={{ postgres_user }}
      - POSTGRES_PASSWORD={{ postgres_password }}
    networks:
      - counter_app_network
    volumes:
      - '{{ app_dir }}/init.sql:/docker-entrypoint-initdb.d/init.sql'
      - postgres_counter_app_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U '{{ postgres_user }}' "]
      interval: 5s
      timeout: 5s
      retries: 5


networks:
  counter_app_network:

volumes:
  postgres_counter_app_data:
  redis_counter_app_data: